# ======================
# C++ 编译产物
# ======================

# Windows 可执行文件
*.exe

# Linux/macOS 可执行文件
*.out
*.o
*.obj

# 静态/动态库
*.a
*.lib
*.so
*.dll
*.dylib


# ======================
# CMake
# ======================

build/
cmake-build-*/


# ======================
# Visual Studio
# ======================

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user


# ======================
# VS Code
# ======================

.vscode/


# ======================
# CLion
# ======================

.idea/


# ======================
# 临时文件
# ======================

*.tmp
*.temp
*.log

# 编译缓存
*.cache


# ======================
# 系统文件
# ======================

.DS_Store
Thumbs.db